.wrap{
  .feature-icon{
    width: 3rem;
    height: 3rem;
    background-color: rgb(89, 89, 255);
    color: white;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .carousel-control{
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
    .img-req{
      height: 150px;
      object-fit: cover;
    }
  }
}

.img-modal{
  height: 450px !important;
  object-fit: contain;
}

.btn-action{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin: auto;
  border: none;
  border-radius: 8px;
  padding: 5px 0;
  font-size: 14px;
  transition: all 0.2s ease;
  margin-bottom: 5px;
  color: #fff;

  &:hover{
    opacity: 0.8;
    transform: scale(1.1);
  }
}

.wrap-toast{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-action-toast{
    font-size: 24px !important;
    margin: 0 4px;
    transition: all 0.2s ease-in;

    &:hover{
      cursor: pointer;
      opacity: 0.8;
      transform: scale(1.05);
    }
  }
}