.wrap{
  .feature-icon{
    width: 3rem;
    height: 3rem;
    background-color: rgb(89, 89, 255);
    color: white;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .carousel-control{
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
    .img-req{
      height: 150px;
      object-fit: cover;
    }
  }
}

.img-modal{
  height: 450px !important;
  object-fit: contain;
}
