@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  & *::-webkit-scrollbar {
    border-radius: 2px;
    display: block;
    transition: all 0.3s ease;
    width: 8px;
    left: 0;
  }

  &*::-webkit-scrollbar-button {
    display: none;
  }

  & *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.26);
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(22, 24, 35, 0.4);
    }
  }

  &* ::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

body {
  box-sizing: inherit;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;

  // &.modal-open {
  //   overflow: hidden !important;
  // }

  // #root {
  //   width: 100%;
  //   height: 100%;
  //   max-height: 100vh;
  //   overflow: overlay;
  //   // overflow: auto;
  //   // padding-inline-end: 8px;
  // }

  &.scrollBarColor {
    &::-webkit-scrollbar {
      background-color: transparent !important;
    }
  }
}

.rdrMonth {
  // width: 100% !important;
}

.rdrCalendarWrapper {
  font-style: 16px !important;
  // width: 100% !important;
}

.css-13cymwt-control {
  transition: visibility 0s !important;
  -webkit-transition: visibility 0s !important;
}

.leaflet-control-zoom,
.leaflet-top.leaflet-left .leaflet-control-zoom {
  display: none !important;
}

.btn {
  border: 1px solid rgba(128, 128, 128, 0.479) !important;
  min-width: 128px !important;
  font-size: 16px !important;
  color: #000000dd;
  outline: none;
  transition: all 0.1s linear !important;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  svg {
    width: 20px;
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    border-color: inherit;
    opacity: 0.9;
  }
}

.btn.btn-primary {
  background-color: blue;
  color: #f5f5f5;
}

.btn.btn-danger {
  background-color: rgba(255, 66, 66, 0.97);
  color: #f5f5f5;
}

.btn.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #000;
}

button {
  transition: all 0.3s linear;

  &.icon-x {
    outline: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    svg {
      width: 18px;
      color: #68686865;
    }
  }
}

.btn.have_icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

button.btn-default {
  border: 1px solid rgba(128, 128, 128, 0.479);
  min-width: 120px;
  font-size: 16px;
  color: #000000dd;
  outline: none;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 0.3rem;
  padding: 4px 8px;
  background-color: #fff;
  position: relative;
  min-height: 38px;

  &.transparent {
    background-color: transparent !important;
    color: #fff;
    border: 1px solid rgba(213, 213, 213, 0.842);

    &:hover {
      opacity: 0.7;
    }
  }

  &.center {
    padding: 4px 14px;
    svg {
      display: block;
      width: 20px;
      font-size: 20px;
      position: unset;
      transform: unset;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    width: 20px;
    font-size: 20px;
  }

  &.disabled {
    cursor: auto;
    &:hover {
      background-color: #fff;
    }

    &:active {
      background-color: #fff;
    }
  }

  &:hover {
    background-color: #ffffff95;
  }

  &:active {
    background-color: #ffffff38;
  }
}

button.facebook {
  background-color: blue;
  color: #fff;

  &:hover {
    background-color: rgb(47, 47, 154);
  }
}

.border-span {
  width: 100%;
  height: 1px;
  position: relative;
  border-bottom: 1px solid #ccc;

  &::before {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent !important;
    padding: 12px;
    backdrop-filter: blur(8px);
    transform: translate(-50%, -50%) !important;
  }
}

button.google {
  background-color: rgb(220, 60, 60);
  color: #fff;

  &:hover {
    background-color: rgb(180, 51, 51);
  }
}

.swal2-title {
  font-size: 24px !important;
}

.fw-600 {
  font-weight: 600;
}

.fs-s {
  font-size: 14px;
}

.fs-m {
  font-size: 16px;
}

.fs-l {
  font-size: 18px;
}

.fs-xl {
  font-size: 22px;
}

.fs-xxl {
  font-size: 26px;
}

.hight-pink {
  color: #ea4c89;
}

.hight-l {
  color: #1051ea;
}

h4 {
  font-size: 12px;
  color: $gray-600;
  margin-bottom: 0;
}

h3 {
  font-size: 16px;
  color: $gray-700;
  margin-bottom: 0;
}

h2 {
  font-size: 18px;
  color: $gray-900;
  margin-bottom: 0;
}

// .modal-body{
//   padding-left:  10px !important;
//   padding-right:  10px !important;

// }

.table-responsive {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparentize(#ccc, 0.7);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparentize(#ccc, 0.5);
    // background-color: #e5e4e4;
    box-shadow: inset 0 0 6px rgba(140, 137, 137, 0.35);
  }
}

// arrow btn of react carousel
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid rgb(63, 63, 63) !important;
}

.carousel.carousel-slider .control-arrow:hover {
  background-color: transparent !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid rgb(63, 63, 63) !important;
}
