.wrap{
 
  .gr{
    display: flex;
    align-items: center;
    gap: 10px;

    .input-custom{
      background: none;
      color: #fff !important;
      width: 80%;
      height: 55px !important;
      border: none;
      border-bottom: 1px solid #ffffff;
      border-radius: 0;
  
      &:focus{
        background: none;
        box-shadow: none;
        border-color: #068FFF;
      }
    }
  
    label{
      color: #fff !important;
      font-size: 14px;
  
      &::after{
        background: none !important;
        color: #fff !important;
      }
    }

    .toggle-password{
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover{
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
  }

 

  .btn-action{
    font-size: 14px;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    background-color: #3AA6B9;

    &:hover{
      opacity: 0.85;
      transform: scale(1.05);
    }
  }
}








