.wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.052),
    rgba(0, 0, 0, 0.367)
  );

  .contai {
    background-color: #ffffff;
    min-width: 60vw;
    border-radius: 12px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    .img {
      border-radius: 12px;
      background-color: rgba(51, 51, 255, 0.855);
      height: 100%;
      min-height: 580px;
      padding: 24px;
      color: #fff;
      display: flex;
      flex-direction: column;

      .title {
      }

      .content {
        margin-top: 60px;
        font-size: 24px;

        .des-blur {
          font-size: 16px;
          opacity: 0.8;
        }
      }

      .card-footer {
        border-radius: 8px;
        background-color: rgb(0 0 0 / 10%);
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 30px;
          margin-right: 12px;
        }

        img {
          width: 300px;
        }
      }
    }

    .form-login {
      padding: 30px;

      .control-login {
        padding: 0 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}
