.wrap {
  padding: 0 20px;

  .header {
    font-size: 30px;
    color: rgba(56, 56, 56, 0.682);
    font-weight: 700;
  }

  .button {
    display: inline-flex;
    min-width: 90px;

    .svg {
      width: 30px;
      padding-right: 8px;
    }
  }
}
