.cmt {
  --line-comment-color: #f0f2f5;
  padding-right: 12px;

  .wrap {
    position: relative;
    .hide_cmt {
      font-size: 14px;
      opacity: 0.8;
      padding-right: 46px;
      text-align: right;
      position: absolute;
      bottom: 14px;
      right: 12px;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        opacity: 1;
      }
    }
    &.pa {
      &::after {
        display: block;
        content: "";
        position: absolute;
        height: calc(100% - 38px);
        top: 38px;
        left: 14px;
        width: 2px;
        background-color: #f0f2f5;
      }

      &.offLine {
        &::after {
          display: none;
        }
      }
    }

    &.ch {
      margin-bottom: 6px;

      &:first-child {
        margin-top: 6px;
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        height: calc(16px);
        border-bottom: 2px solid #f0f2f5;
        border-bottom-left-radius: 10px;
        border-left: 2px solid #f0f2f5;
        bottom: calc(100% - 16px);
        transform: translateX(-100%);
        z-index: 1;
        width: 32px;
      }
    }

    .layout {
      display: inline-flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;

      .avt {
        z-index: 100;
        cursor: pointer;
        .img {
          background: linear-gradient(white, white) padding-box,
            linear-gradient(to right, #ea4c89, #ea4c89) border-box;
          border: 2px solid transparent;
          overflow: hidden;
          border-radius: 100px;
          width: 34px;
          height: 34px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 32px;
            height: 32px;
            object-fit: cover;
          }

          svg {
            width: 22px;
          }
        }
      }

      .content {
        max-width: calc(100% - 26px);
        font-size: 14px;

        .loader {
          max-width: calc(100% - 26px);
          margin-top: 4px;
          position: relative;

          &::after {
            display: block;
            content: "";
            bottom: calc(100% - 16px);
            position: absolute;
            height: calc(100% + 16px);
            border-bottom: 2px solid #f0f2f5;
            border-bottom-left-radius: 10px;
            border-left: 2px solid #f0f2f5;
            left: 0px;
            transform: translateX(-100%);
            width: 32px;
          }
        }
        .show_cmt-more {
          position: relative;
          &::after {
            display: block;
            content: "";
            position: absolute;
            height: calc(100% - 38px);
            top: 38px;
            left: 14px;
            width: 2px;
            background-color: #f0f2f5;
          }
        }
        .contai {
          .main {
            display: inline-block;
            font-size: 16px;
            border-radius: 0.4rem;
            padding: 4px 22px 12px 12px;
            background-color: #f0f2f5;
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
              0 1px 2px -1px rgb(0 0 0 / 0.1);
            .info {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 6px;
              svg {
                font-size: 14px;
              }

              .author {
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 0;
              }
            }
            .description {
              color: #000;
              font-size: 16px;
              line-height: 22px;
              margin-bottom: 0;

              pre {
                white-space: pre-wrap;
                font-size: 16px !important;
                color: #000;
                line-height: 22px;
                font-family: inherit;
                word-wrap: break-word;
                margin-bottom: 0;

                .more_hidden {
                  opacity: 0.7;
                  font-size: 14px;
                  cursor: pointer;
                  padding-left: 10px;
                  transition: all 0.2s linear;
                  span {
                    letter-spacing: 2px;
                  }

                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }

      .actives {
        display: flex;
        padding: 8px 0;
        gap: 12px;

        .active {
          color: #4d5969;
          display: flex;
          align-items: center;
          gap: 6px;
          cursor: pointer;
          font-size: 14px;

          &.date {
            cursor: text;

            &:hover {
              text-decoration: auto;
            }
          }

          &:first-child {
            color: #090909;
            font-weight: 500;

            svg {
              font-weight: 500;
            }
          }

          &:hover {
            text-decoration: underline;
          }

          svg {
            width: 14px;
          }
        }
      }
    }
  }

  .reply {
    margin-left: 49px;
    display: flex;
    font-size: 14px;
    align-items: center;

    gap: 12px;
    margin-bottom: 12px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(180deg);
    }

    .user {
      padding: 2px 14px;
      background-color: rgb(21 67 211 / 87%);
      border-radius: 0.7rem;
      color: #fff;
    }
  }

  .commentInput,
  .show_cmt-more {
    width: calc(100% - 26px);
    padding-left: 49px;
    margin-top: 4px;
    .show_cmt-mes,
    .comment_enter {
      width: 100%;
      position: relative;
      &::after {
        display: block;
        content: "";
        bottom: calc(100% - 16px);
        position: absolute;
        height: calc(100% + 16px);

        border-bottom: 2px solid #f0f2f5;
        border-bottom-left-radius: 10px;
        border-left: 2px solid #f0f2f5;
        left: 0px;
        transform: translateX(-100%);
        width: 35px;
      }
    }
  }

  .show_cmt-more {
    margin: 0px 0 20px 0;
    font-size: 14px;
    cursor: pointer;

    opacity: 0.8;
    transition: all 0.2s linear;

    .show_cmt-mes {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      svg {
        font-size: 18px;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
