.wrap {
  display: flex;
  min-height: 100vh;

  .nav {
    background-color: #fcfcfc;
  }

  .responsive-nav {
    display: none;
   
  }

  .child {
    background-color: #fcfcfc;
    flex: 1;
    padding: 40px 20px 20px 20px;
    margin-left: 0;
    border-radius: 8px;
  }
}


@media screen and (max-width: 1050px) {
  .wrap{
    display: block;
    position: relative;
    padding-top: 10px;
    
    .nav{
      display: none;
    }
    // position: relative;
    // .nav {
    //   display: none;
    //   height: 100%;
    //   border: 1px solid #ccc;
    //   position: absolute;
    //   z-index: 10;
    //   top: 0;
    //   animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    //   border-radius: 0 10px 10px 0;
    //   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    //  }
    .responsive-nav{
      position: fixed;
      z-index: 1000;
      display: block;
      top: 0;
      width: 100%;
      background-color: white;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     
      
      
      .icon-wrap{
        display: block;
        padding: 10px 20px;
       .icon-menu{
        font-size: 28px;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &:hover{
          opacity: 0.7;
        }
       }
      }

     
    }
  }
  
}


 @keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
