.wrap {
  .avt-info {
    background: linear-gradient(
      45deg,
      rgba(249, 227, 171, 0.822),
      rgba(245, 206, 206, 0.764),
      rgba(255, 255, 255, 0.707),
      transparent,
      transparent,
      transparent
    );
    min-height: 260px;
    border-radius: 1rem;
    position: relative;
    .contai {
      position: absolute;
      bottom: 0;
      left: 100px;
      right: 100px;
      transform: translateY(30%);
      display: flex;
      align-items: center;
      gap: 24px;
      .avt {
        overflow: hidden;
        position: relative;

        .upload-avatar {
          position: absolute;
          color: rgb(85, 82, 81);
          z-index: 2;
          bottom: 5px;
          right: 6px;
          padding: 3px 5px;
          background-color: #ffffff;
          border-radius: 50%;
          border: 2px solid #a7a1a1;
          transition: all 0.2s ease-in;
          &:hover{
            cursor: pointer;
            transform: scale(1.1);
          }
        }

        .svg {
          width: 140px;
          border-radius: 100px;
          height: 140px;
          object-fit: cover;
          border: 4px solid #f81a1a;
          background-color: #fff;
          object-position: center;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;

          border: 4px solid transparent;
          overflow: hidden;
          background: linear-gradient(white, white) padding-box,
            linear-gradient(to right, rgba(8, 99, 255, 0.723), #eb19f2)
              border-box;
          svg {
            width: 60px;
          }
        }
        img {
          border-radius: 100px;
          width: 140px;
          height: 140px;
          object-fit: cover;
          border: 4px solid #fff;
          object-position: center;
        }
      }

      .info {
        background-color: #fff;
        border-radius: 1rem;
        padding: 10px 24px;
        flex: 1;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
          0 8px 10px -6px rgb(0 0 0 / 0.1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        .pen {
          position: absolute;
          top: 10px;
          right: 20px;
          cursor: pointer;
          padding: 4px;
          transition: all 0.26s linear;

          svg {
            color: #333;
            width: 22px;
          }

          &:hover {
            opacity: 0.8;
          }
        }

        h2 {
          font-size: 22px;
          color: #333;
          margin-bottom: 6px;
        }

        .info-item {
          font-size: 14px;
          margin-top: 6px;
          color: #333333b2;
        }
      }
    }
  }

  .content {
    margin-top: 100px;
    .gr-box {
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.936),
        rgba(255, 255, 255, 0.936)
      );
      // box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
      margin-top: 12px;
      margin-bottom: 30px;
      padding: 26px 40px 30px 40px;
      border-radius: 1rem;
      // border: 1px solid rgba(0, 0, 0, 0.071);

      .title {
        font-size: 18px;
        color: #333;
        margin-bottom: 22px;
        font-weight: 500;
      }

      .bio {
        font-size: 16px;
        line-height: 22px;
        color: #000;
      }

      .list-personality {
        padding-left: 0;
        list-style: none;
        display: flex;
        max-width: 600px;
        gap: 22px;
        flex-wrap: wrap;

        li {
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 0.5rem;
          padding: 10px 22px;
        }
      }
      .col {
        .gr-col {
          h4 {
            color: #333;
            opacity: 0.7;
            font-size: 16px;
          }

          span {
            font-size: 16px;
            color: #000;
            font-weight: 400;
          }
        }
      }
    }
  }

 
}

@media screen and (max-width: 650px) {
  .contai{
    left: 10px !important;
    right: 10px !important;

    // Reponsive my profile
  }
}

@media screen and (max-width: 500px) {
  .contai{
    left: 10px !important;
    right: 10px !important;

    .avt{
      img{
        width: 100px !important;
        height: 100px !important;
      }
    }

    .info{
      padding: 10px 10px !important;

      h2{
        font-size: 16px !important;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .pen{
    top: 5px !important;
    right: 0 !important;
  }

  .upload-avatar{
    bottom: 1px !important;
    right: -1px !important;
    padding: 2px 4px !important;
  }
}
