.wrap{
    margin: 30px 0;
    --width-nav: 420px;
    .my-favourite-post{
        margin-left: calc(var(--width-nav) + 20px);
        margin-right: 116px;

        .back {
          width: 100px;
          font-size: 16px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 4px;
          user-select: none;
          opacity: 0.7;
          transition: all 0.2s ease;
          cursor: pointer;
      
          &:hover {
            opacity: 1;
          }
        }
        
    }
}

@media screen and (max-width: 1060px) {
  .wrap {
    .my-favourite-post {
      margin-left: 260px;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .wrap {
    .my-favourite-post {
      margin-left: 0;
      margin-right: 0;

    }
  }
}

@media screen and (max-width: 600px) {
  .back {
    margin-left: 40px;
    margin-top: 10px;
  }
}


  