.wrap {
  padding: 0 20px 20px 20px;
  .back {
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 40px;
    transition: all 0.3s linear;
    svg {
      width: 22px;
      color: #fff;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .title {
    max-width: 500px;

    h4 {
      font-size: 20px;
      color: #fff;
    }

    .content {
      font-size: 16px;
      line-height: 24px;
      color: #ffffffb0;

      .entered {
        color: #fff4b3;
        font-size: 16px;
        gap: 9px;
        align-items: center;
        svg {
          width: 20px;
          margin: 0 6px;
        }
      }
    }
  }

  form {
    .gr {
      .error {
        color: rgb(255, 65, 65);
        font-size: 16px;
        margin-top: 12px;
        display: block;
      }
      label {
        font-size: 16px;
        color: #fff;
        margin-bottom: 4px;

        span {
          color: rgb(15, 255, 63);
        }
      }

      .input {
        margin-top: 4px;
        position: relative;
        span {
          position: absolute;
          top: 50%;
          left: 12px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          transform: translateY(-50%);
          svg {
            width: 22px;
            font-size: 20px;
            color: #fff;
          }
        }

        input {
          display: block;
          min-width: 322px;
          padding: 8px 22px 8px 44px;
          border: none;
          background: transparent;
          color: #fff;
          border-radius: 0.4rem;
          border: 1px solid #ffffff44;
          outline: none;
        }
      }
    }
  }
}

.verified {
  color: #fff;
  padding: 0 20px 20px 20px;

  .title {
    font-size: 20px;
  }

  .title_4 {
    font-size: 16px;
    opacity: 0.7;
  }

  .content {
    font-size: 16px;
    max-width: 500px;
    color: rgba(255, 255, 255, 0.6901960784);

    li {
      margin-top: 10px;
    }
  }

  .email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;

    .email_doc {
      display: inline-block;
      border-left: 4px solid hsl(214, 89%, 52%);
      border-radius: 3px;
      padding: 2px 12px 2px 22px;
    }

    span {
      font-size: 16px;
      color: hsl(214, 73%, 80%);
    }
    svg {
      width: 22px;
      color: hsl(214, 89%, 52%);
    }
  }
}
