.wrap{
  .box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    padding: 10px 20px;
    // justify-content: center;
    align-items: center;
    width: 550px;
    margin: auto;
    gap: 20px;
    border-radius: 10px;

    border-left: 6px solid #436fe9;
    .title{
      p{
        margin-bottom: 7px;
      }
    }

    .information{
      p{
        margin-bottom: 7px;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .wrap{
    .box{
      width: 350px;
    }
  }
}
