.wrap {
  align-items: center;
  padding: 60px 0;

  .contai {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(255 255 255 / 9%);
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1), 0 -2px 15px -3px rgba(0, 0, 0, 0.1);

    .nav {
      font-size: 16px;
      min-width: 230px;
      border-right: 1px solid #eee;
    }

    .child {
      flex: 1;
      padding: 40px 20px 20px 20px;
      margin-left: 0;
      border-radius: 8px;
    }
  }
}
