.wrap {
  padding: 20px;

  .form {
    margin-top: 30px;

    .form-group {
      margin-bottom: 22px;

      .err {
        font-size: 14px;
        color: red;
        display: block;
        margin-top: 6px;
      }

      .form-group-label {
        display: block;
        font-size: 16px;
        color: blue;
        margin-bottom: 4px;
      }

      input {
        padding: 4px 12px;
        border-radius: 2px;
        border: none;
        background-color: transparent !important;
        border-bottom: 1px solid gray;
        outline: none;
        font-size: 16px;
        transition: all 0.2s linear;
        min-width: 400px;

        &:placeholder-shown {
          color: #092cf6;
        }

        &::placeholder {
          font-size: 14px;
          color: rgba(97, 96, 96, 0.364);
        }

        &:hover {
          border-color: blue;
        }

        .err {
          border-color: rgb(255, 23, 46);
        }
      }
    }

    button {
      margin-top: 20px;
    }
  }
}
