.wrap {

  .btn-create {
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    background-color: #3AA6B9;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &:hover{
      opacity: 0.8;
    }
  }

  .back {
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 40px;
    transition: all 0.3s linear;
    svg {
      width: 22px;
      color: #fff;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
