.wrap{
    background-color: #fff;
    h3{
        padding-top: 20px;
        text-align: center;
    }
    .list-contact-item{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        li{
            display: flex;
            flex-direction: column;
            justify-self:center;
            align-items: center;
            gap: 10px;
            list-style: none;
            padding: 10px 20px;
            p{
                margin: 0;
            }
            .wrap-item{
                padding: 10px;
                border: 1px solid #ccc;
                background-color: #00BFA6;
                border-radius: 100%;
                svg{
                border-radius: 100%;
                width: 30px;
                color: #fff;
                }
            }
        
            
        }

    }
    form{
        .err{
            display: block;
            font-size: 14px;
            color: red;
        }

         .wrap-contact-form{
        display: flex;
        justify-content: center;
        padding: 10px 20px;
       .left-contact{
            width: 40%;
        
            .left-item{
                padding: 10px 0;
                .infor{
                    text-decoration: underline;
                }
                h4{
                    font-size: 20px;
                }
                input{
                    border: none;
                    height: 40px;
                    width: 300px;
                    border-bottom: 2px solid #ccc;
                    outline: none;
                    padding-left: 20px;
                    border-radius: 0.3rem;

                }
                textarea{
                    border: none;
                    height: 40px;
                    width: 300px;
                    border-bottom: 1px solid #ccc;
                    outline: none;
                    padding-left: 20px;
                    border-radius: 0.3rem;

                }
                .btn{
                    padding: 10px 20px;
                    border: 2px solid transparent;
                    border-radius: 5px;
                    background-color: #00BFA6;
                    color: #fff;
                    transition: .5s;
                   &:hover{
                    background-color: #fff;
                    color: #00BFA6;
                    border: 2px dashed;
                   } 
                }

            }
       }    
       .right-contact{
            img{
                height: 500px;
            }
       } 
       
    }
    }
   
}   